    * {
    box-sizing: border-box;
}

body {
    background: #e6eef8;
}

.background {
    position: relative;
    bottom: 0;
}

.grassbtm {
    position: absolute;
    z-index: 2;
    margin-top: 13%;
}

.grassmid {
    position: absolute;
    z-index: 1;
    margin-top: 10%;
}

.grasstop {
    margin-top: 2%;
}


/*    CLOUDS     */

#clouds{
	padding: 100px 0;
	background: rgba(201, 219, 233, 0.5);
	background: rgba(248, 248, 248, 0.4);
	background: rgba(248, 248, 248, 0.5);
	background: rgba(248, 248, 248, 0.6);
}

/*Time to finalise the cloud shape*/
.cloud {
	width: 200px; height: 60px;
	background: #fff;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 200px;
    
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x3 {
	left: -250px; top: -100px;
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

.x4 {
	left: 470px; top: -50px;
	
	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}

.x5 {
	left: -150px; top: -50px;
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1500px;}
	100% {margin-left: -1500px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1500px;}
	100% {margin-left: -1500px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1500px;}
	100% {margin-left: -1500px;}
}